<template #createMedicationModal let-cc="close">
  <form #createMedicationForm="ngForm" (ngSubmit)="createMedication(cc)">
    <div class="modal-header">
      <h4 class="modal-title">New Medication</h4>
      <button type="button" class="close" aria-label="Close" (click)="closeCreateMedicationModal(cc)">
        <span aria-hidden="true">&times;</span>
      </button>

    </div>
    <div class="modal-body">
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" name="title" placeholder="Medication title" required [(ngModel)]="newMedication.title"/>
      </div>
      <div class="form-group">
        <label for="title">Description</label>
        <textarea class="form-control" id="description" name="description" placeholder="Medication description" required [(ngModel)]="newMedication.description" rows="4"></textarea>
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary" [disabled]="!createMedicationForm.form.valid">Create</button>
      <button type="button" class="btn btn-secondary" (click)="closeCreateMedicationModal(c)">Close</button>
    </div>
  </form>
</template>

<template #confirmDeleteModal let-cd="close">
  <div>
    <div class="modal-header">
      <h4 class="modal-title">Confirm Deletion</h4>

    </div>
    <div class="modal-body">
      <p>Are you sure you want to delete {{pendingMedication.title}}?</p>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-danger" (click)="deletePendingMedication(cd)">Delete</button>
      <button type="button" class="btn btn-secondary" (click)="closeConfirmDeleteModal(cd)">Close</button>
    </div>
  </div>
</template>

<div class="container">
  <ngb-alert [dismissible]="true" type="danger" (close)="errorMessage = ''" *ngIf="errorMessage.length > 0">
    {{errorMessage}}
  </ngb-alert>

  <div class="card">
    <div class="card-header">
      Medications
      <div class="header-actions">
        <span class="action fa fa-plus" (click)="openCreateMedicationModal(createMedicationModal)"></span>
      </div>
    </div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Title</th>
          <th>Description</th>
          <th style="width: 64px"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let medication of medications" >
          <td>
            <a [routerLink]="medication.id">{{medication.id}}</a>
          </td>
          <td>
            <a [routerLink]="medication.id">{{medication.title}}</a>
          </td>
          <td>
            <span class="text-muted">{{medication.description}}</span>
          </td>
          <td>
            <button class="btn btn-danger" type="button" (click)="startDeleteMedication(medication, confirmDeleteModal)"><i class="fa fa-trash-o"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>