.container {
  margin-top: 64px;
}

.header-actions {
  float: right;
  display: inline-flex;

  .action {
    cursor: pointer;
    color: #a0a0a0;
    display: inline-block;
    width: 32px;
    text-align: center;
    line-height: 24px;
    font-size: 18px;

    &:hover {
      color: #888888;
    }
  }
}


.col-data-label {
  padding: 4px 15px;
  text-align: right;
  font-size: 12px;
  font-weight: bold;
}

.nav-tabs .nav-item:first-child {
  margin-left: 12px !important;
}

.list-group-item-action {
  cursor: pointer;
}