<div class="page-container">
  <md-card class="login-card">
    <md-card-header>
      <md-card-title>Login</md-card-title>
    </md-card-header>
    <md-card-content>
      <form>
        <md-input-container class="input-fill">
          <input mdInput placeholder="Username"/>
        </md-input-container>
        <md-input-container class="input-fill">
          <input mdInput type="password" placeholder="Password"/>
        </md-input-container>

        <div class="button-container">
          <button md-raised-button>Login</button>
        </div>
      </form>

    </md-card-content>
  </md-card>
</div>
