<div class="container">
  <div class="card">
    <div class="card-header">
      <a [routerLink]="['..']">Patients</a> / {{patient?.fullName}}
    </div>
    <ngb-tabset style="margin-top: 12px;">
      <ngb-tab title="General Information">
        <template ngbTabContent>
          <div class="card-block">
            <div class="form-group row">
              <label class="col-sm-2 col-data-label">Full Name</label>
              <div class="col-sm-10">{{patient?.fullName}}</div>
            </div>
            <div class="form-group row">
              <label class="col-sm-2 col-data-label">Phone</label>
              <div class="col-sm-10" *ngIf="patient?.gender == 'male'">Male</div>
              <div class="col-sm-10" *ngIf="patient?.gender == 'female'">Female</div>
              <div class="col-sm-10" *ngIf="patient?.gender != 'female' && patient?.gender != 'male'"><i>Unknown</i></div>
            </div>
            <div class="form-group row">
              <label class="col-sm-2 col-data-label">Phone</label>
              <div class="col-sm-10">
                <a href="tel:{{patient?.phone}}">{{patient?.phone}}</a></div>
            </div>
            <div class="form-group row">
              <label class="col-sm-2 col-data-label">Birth date</label>
              <div class="col-sm-10">{{patient?.birthdate | formatDate}}</div>
            </div>
            <div class="form-group row">
              <label class="col-sm-2 col-data-label">Username</label>
              <div class="col-sm-10">{{patient?.username}}</div>
            </div>
            <div class="form-group row">
              <label class="col-sm-2 col-data-label">Role</label>
              <div class="col-sm-10">{{patient?.role}}</div>
            </div>
            <div class="form-group row">
              <label class="col-sm-2 col-data-label">Email Address</label>
              <div class="col-sm-10">
                <a href="mailto:{{patient?.email}}">{{patient?.email}}</a></div>
            </div>

          </div>
        </template>
      </ngb-tab>

      <ngb-tab title="Doses">
        <template ngbTabContent>
          <div class="card-block">
            <button class="btn btn-primary" (click)="openAddDoseModal(addDoseModal)">
              <i class="fa fa-plus"></i> Add Dose
            </button>
            <div class="list-group" style="margin-top: 16px;">
              <div class="list-group-item list-group-item-action" style="display: block" *ngFor="let dose of doses" (click)="openUpdateDoseModal(dose, updateDoseModal)">
                <h5 class="mb-1">
                  {{dose.title}}
                  <div class="header-actions">
                    <i class="dangerous action fa fa-trash-o" (click)="deleteDose(dose, $event)"></i>
                  </div>
                </h5>
                <p class="text-muted">{{dose.description}}</p>

                <div class="form-group row">
                  <label class="col-sm-2 col-data-label">Dispense after</label>
                  <div class="col-sm-10">{{dose.dispenseAfter}}</div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-2 col-data-label">Dispense before</label>
                  <div class="col-sm-10">{{dose.dispenseBefore}}</div>
                </div>
              </div>
            </div>
          </div>
        </template>
      </ngb-tab>

      <ngb-tab title="PRN Medications">
        <template ngbTabContent>
          <div class="card-block">
            <div class="list-group" style="margin-top: 16px;">
              <div class="list-group-item list-group-item-action" style="display: block" *ngFor="let prnMedication of prnMedications">
                <h5 class="mb-1">
                  {{prnMedication.medication.title}}
                  <div class="header-actions">
                    <i class="dangerous action fa fa-trash-o"></i>
                  </div>
                </h5>
                <p class="text-muted">{{prnMedication.description}}</p>
                <div class="form-group row">
                  <label class="col-sm-2 col-data-label">Daily limit</label>
                  <div class="col-sm-10 text-muted" *ngIf="prnMedication.maxDaily == 0">No limit</div>
                  <div class="col-sm-10 text-muted" *ngIf="prnMedication.maxDaily != 0">{{prnMedication.maxDaily}}</div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-2 col-data-label">Minimum in-between time</label>
                  <div class="col-sm-10 text-muted" *ngIf="prnMedication.minInterval == 0">No minimum in-between time</div>
                  <div class="col-sm-10 text-muted" *ngIf="prnMedication.minInterval != 0">{{prnMedication.minInterval}} hours</div>
                </div>
              </div>
            </div>
          </div>
        </template>
      </ngb-tab>

      <ngb-tab title="Dose History">
        <template ngbTabContent>
          <div class="card-block">
            <div class="list-group">
              <dose-summary class="list-group-item list-group-item-action" *ngFor="let summary of doseSummaries" [summary]="summary" [userId]="patient.id"></dose-summary>
            </div>
          </div>
        </template>
      </ngb-tab>
    </ngb-tabset>
  </div>
</div>

<template #addDoseModal let-cAdd="close">
  <add-dose [closeFn]="cAdd" [patientId]="patient.id" (onCreate)="doseCreated($event)"></add-dose>
</template>

<template #updateDoseModal let-cUpdate="close">
  <update-dose [closeFn]="cUpdate" [dose]="pendingDose" [patientId]="patient.id" (onUpdate)="doseUpdated($event)"></update-dose>
</template>